
<div class="container">
  <div class="row">
    <div class="col-md-12 pl-0 pr-0 mt-5">
    <h2 class="d-inline ">เพิ่มใบแจ้งหนี้</h2>
    </div>
    <%= render 'form', invoice: @invoice %>
   
    <%# <%= render 'form', customer: @customer, class: 'btn btn-success d-inline' %>
  </div>
  
</div>

